/* achtergrond */
body {
   background-image: url("images/background.jpg");
   background-repeat: repeat-y;
   background-attachment: fixed;
}

/* typografie */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url("https://fonts.googleapis.com/css?family=VT323");

h1 {
    font-family: 'VT323', monospace;
    color: #000000;
    font-size: 50px;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #000000;
    font-size: 35px;
}


h5 {
    font-family: 'Titillium Web', sans-serif;
    color: #000000;
    font-size: 35px;
  }

/* Logo */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
    }

/* List-items */
ul li img { 
    width: 7%;
    margin: 3px;
}

/* card */
.card {
    background-color: rgba(255, 255, 255, 0.5);
}


/* Button */
#button {
    display: block;    
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    border-radius: 0px;
}

a:link {
    text-decoration: none;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

.img-fluid{
    width: 350px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

